.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;

  h2 {
    font-size: clamp(1.2rem, 3vw, 3rem);
    padding-inline: 20px;
    text-align: center;
    margin-block: 40px 10px;

    span {
      color: #d25115;
    }
  }

  .experience-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-block: 20px;
    max-width: 100%;

    .experience-cards {
      padding: 10px;
      border: 2px solid var(--bg-fundo);
      border-radius: 8px;

      img {
        border-radius: 12px;
        width: 100%;
        height: 200px;
      }

      p {
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
      }

      .description {
        font-weight: 600;
      }

      ul {
        display: flex;
        gap: 20px;
        margin-block: 20px;
        text-align: center;

        li {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          gap: 10px;
        }

        span {
          &:nth-child(even) {
            font-weight: 600;
          }
          &:nth-child(odd) {
            font-size: clamp(0.785rem, 2vw, 1rem);
          }
        }

        i {
          color: var(--color-font);
          font-size: 1.2rem;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (width > 900px) {
  .experience {
    .experience-info {
      flex-direction: row;
      gap: 20px;

      .experience-cards {
        width: 600px;
        max-width: 100%;
      }
    }
  }
}
