header {
  position: sticky;
  height: 100px;
  top: 0;
  z-index: 1;
  padding: 12px 4%;
  background-color: rgba(255, 255, 255, 0.5);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .logo {
      width: 200px;
    }

    .menu {
      padding: 10px 20px;
      border: none;
      background-color: transparent;
      font-weight: 600;
      font-size: 1.5rem;
      cursor: pointer;
    }

    ul {
      display: none;
      flex-direction: column;
      gap: 2rem;
      position: absolute;
      top: 100px;
      right: 0;
      width: 60%;
      padding: 1.5rem;
      background-color: rgba(255, 255, 255, 0.5);
      border-bottom-left-radius: 8px;

      &.show {
        display: flex;
      }

      li {
        text-align: center;

        a {
          font-size: 1rem;
          font-weight: 500;
          transition: all 0.5s ease;

          &:hover {
            border-bottom: 1px solid #d1570b;
            color: #d1570b;
          }
        }
      }
    }
  }
}

@media (width > 900px) {
  header {
    nav {
      .menu {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 1.4rem;
        width: auto;
        padding: 0;
      }

      .btn-default {
        display: flex;
      }
    }
  }
}
