header {
  position: sticky;
  height: 100px;
  top: 0;
  z-index: 1;
  padding: 12px 4%;
  background-color: rgba(0, 0, 0, 0.9);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .logo {
      width: 200px;
    }

    .menu {
      padding: 10px 20px;
      border: none;
      background-color: transparent;
      color: var(--text-secondary);
      font-weight: 600;
      font-size: 1.5rem;
      cursor: pointer;
    }

    ul {
      display: none;
      font-weight: 600;
      flex-direction: column;
      gap: 2rem;
      position: absolute;
      top: 100px;
      right: 0;
      width: 100%;
      padding: 1.5rem;
      background-color: rgba(0, 0, 0, 0.9);
      border-bottom-left-radius: 8px;

      &.show {
        display: flex;
      }

      li {
        text-align: center;

        a {
          color: var(--text-secondary);
          font-size: 1rem;
          font-weight: 500;
          transition: all 0.5s ease;

          &:hover {
            border-bottom: 1px solid var(--color-font);
            color: var(--color-font);
          }
        }
      }
    }
  }
}

@media (width > 900px) {
  header {
    .btn-default.btn {
      display: flex;
    }

    nav {
      .menu {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 1.4rem;
        width: auto;
        padding: 0;
        background-color: transparent;

        li {
          a {
            color: var(--text-secondary);
          }
        }
      }

      .btn-default {
        display: flex;
      }
    }
  }
}
