.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: clamp(1.2rem, 3vw, 3rem);
    padding-inline: 20px;
    text-align: center;
    margin-bottom: 10px;

    span {
      color: #d25115;
    }
  }
  p {
    font-size: clamp(0.785rem, 2vw, 3rem);
    padding-inline: 20px;
    text-align: center;
  }
}
